attrs==21.4.0
boto3==1.21.0
botocore==1.24.0
certifi==2021.10.8
charset-normalizer==2.0.12
dill==0.3.4
distro==1.7.0
dlr==1.10.0
google-pasta==0.2.0
idna==3.3
importlib-metadata==4.11.1
jmespath==0.10.0
multiprocess==0.70.12.2
numpy==1.22.2
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.1
pathos==0.2.8
Pillow==9.0.1
pox==0.3.0
ppft==1.6.6.4
protobuf==3.19.4
protobuf3-to-dict==0.1.5
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
s3transfer==0.5.1
sagemaker==2.75.1
six==1.16.0
smdebug-rulesconfig==1.0.1
torch==1.10.2
torchvision==0.11.3
typing-extensions==4.1.1
urllib3==1.26.8
zipp==3.7.0
